.navbar {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background-color: #0f2870;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 65px;
    width: auto;
}

.nav-logo p {
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
    font-weight: 500;
    flex-grow: 1;
    justify-content: center;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.nav-menu li a {
    text-decoration: none;
    color: rgb(246, 241, 241);
    transition: color 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #ff4500;
}

.nav-menu .active {
    font-weight: bold;
    color: #ff4500;
    border-bottom: 2px solid #ff4500;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
    padding-right: 20px;
}

.cart-container {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-img {
    height: 32px;
    width: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.cart-img:hover {
    transform: scale(1.1);
}

.nav-cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    padding: 10px 80px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: rgb(183, 19, 19);
    color: black;
    
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn:hover {
    background: #f0f0f0;
    transform: scale(1.05);
}

body {
    padding-top: 80px;
}
